@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 90vh;
     flex-direction: column;
     font-family: 'Josefin Sans', sans-serif;
     min-height: 80vh;

}

.header {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 5rem;

}

h1 {
     font-size: 3rem;
     text-decoration: underline;
     margin-bottom: 10px;
     text-align: center;

}

p {
     font-size: 1.5rem;
     text-align: center;
}

.btn-section {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 20px;
}

.start-btn {
     border: none;
     padding: 15px 32px;
     font-size: 1.5rem;
     cursor: pointer;
     border-radius: 5px;
     font-family: 'Josefin Sans', sans-serif;
     margin: 10px;
}

a {
     text-decoration: none;
     color: black;
}

.btn-blue {
     background-color: #2196F3;
}

.btn-yellow {
     background-color: #ffeb3b;
}

.start-btn:hover {
     transform: scale(1.1);
     transition: 0.5s;
}

.footer {
     position: relative;
     bottom: 0;
     left: 0;
     width: 100%;
     text-align: center;
}

.footer a {
     color: red;
}

/* Floating Box */
.floating-box {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     z-index: 1;
     box-shadow: 0 2px 20px black;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 6px;
     padding: 20px;
     background-color: aliceblue;
}

.floating-box h1 {
     font-size: 1.5rem;
     text-decoration: none;
     margin: 1rem;
     font-family: 'Roboto', sans-serif;
}

.floating-box p {
     font-size: 1rem;
     text-decoration: none;
     margin: 1rem;
     text-align: justify;
}

.button-section {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.btn-floating {
     border: none;
     color: white;
     padding: 10px;
     font-size: 1rem;
     margin: 4px;
     cursor: pointer;
     border-radius: 10px;
     background-color: #4CAF50;
}

/* set background blur */
.blur {
     filter: blur(5px);
}

.btn-floating:hover {
     background-color: #3e8e41;
}

.close-button {
     position: absolute;
     top: -14px;
     right: 0;
     padding: 10px;
     cursor: pointer;
     font-size: 2rem;
     color: grey;
}

.close-button:hover {
     color: rgb(10, 10, 10);
}

.hide {
     display: none;
}