* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}



main {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

h1 {
     font-size: 3rem;
     font-weight: 500;
     color: #333;
     margin-bottom: 20px;
}

.input-area {
     width: 100%;
     max-width: 500px;
     max-height: 500px;
     border-radius: 10px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.input-group {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
     flex-direction: column;
}

.input-group label {
     font-size: 20px;
     font-weight: 500;
     color: #333;
}

.input-group input {
     width: 100%;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 2rem;
     color: #333;
     padding: 1rem 2rem;
     text-align: center;
}

.input-group input:focus {
     outline: none;
     border-color: #333;
}

.input-btn button {
     width: 100%;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 2rem;
     padding: 1rem 2rem;
     color: #333;
     background-color: #f1f1f1;
     cursor: pointer;
}

.input-btn button:hover {
     background-color: #ccc;
}

.hide {
     display: none;
}

.output-area {
     width: 100%;
}

.action-btn {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: sticky;
     top: 0;
     left: 0;

}

.action-btn button {
     width: auto;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 1rem;
     padding: .5rem 1rem;
     color: #333;
     background-color: #f1f1f1;
     cursor: pointer;
     margin: 10px;
}

.action-btn button:hover {
     background-color: #ccc;
}

.building {
     width: 100%;
     height: 100%;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* background-color: aquamarine; */
}

.floor {
     border-bottom: 1px solid rgb(0, 0, 0);
     width: 100%;
     height: 8rem;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #f1f1f1;
}

.lift-buttons {
     width: auto;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: space-between;
     flex-direction: column;
}

.lift-buttons button {
     float: left;
     border: none;
     font-size: 2rem;
     cursor: pointer;
     margin: 2px 0;
}

.lift-area {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.lift {
     height: 100%;
     width: 5rem;
     background-color: #191919;
     padding: 5px;
     display: flex;
     justify-content: space-between;
     margin: 0 5px;
}

.door-left {
     width: 49%;
     height: 100%;
     background-color: #972727;
}

.door-right {
     width: 49%;
     height: 100%;
     background-color: #972727;
}

.animation {
     animation: door 2.5s ease-in-out;
}

@keyframes door {
     0% {
          width: 49%;
     }

     50% {
          width: 0%;
     }

     100% {
          width: 49%;
     }
}

